body {
  margin: 0px;
  font-family: 'Helvetica';
}
#left-column {
  position: absolute;
  width: 280px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #eee;
  padding: 5px;
  box-sizing: border-box;
}
#right-column {
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  padding: 5px;
  box-sizing: border-box;
}
#center-column {
  position: relative;
  height: 100%;
  margin-left: 280px;
  margin-right: 300px;
  box-sizing: border-box;
}
.poker-game {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 5px;
  background: #333;
  z-index: 0;
}
.chat ul {
  max-height: 500px;
  width: 200px;
  overflow: auto;
  list-style-type: none;
  padding-left: 0px;
}
.hand {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 60px;
}
.card {
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  background: #eee;
  height: 80px;
  width: 60px;
  margin: 3px;
  border-radius: 1px;
  vertical-align: top;
}
.card div:nth-child(2) {
  font-size: 55px;
  margin-top: -22px;
}
.table-list td {
  text-align: center;
}
.player-list {
  list-style-type: none;
  padding-left: 0px;
}
button {
  font-size: 16px;
  margin: 0px 5px;
  padding: 2px 5px;
  background: white;
  border: 1px solid black;
  border-radius: 1px;
}
button:hover {
  background: #ccc;
}
.table-info button {
  float: right;
}
.chip-pile {
  text-align: center;
}
.chips {
  width: 35px;
  display: inline-block;
}
.chips > div {
  height: 8px;
  width: 28px;
  border: 1px solid #333;
  border-radius: 0 0 50% 50%;
  position: absolute;
  margin: 0px 3px;
}
.chips > div:last-child {
  border-radius: 50%;
}

.game-chat-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50%;
  height: 140px;
  background: #111;
}
.game-chat {
  margin: 10px;
  height: 120px;
  background: #000;
}
.actions-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50%;
  height: 140px;
  background: #111;
}
.actions {
  margin: 10px;
  height: 120px;
  background: #000;
}
.actions button {
  height: 60px;
  width: 100px;
  margin: 5px 3px;
  background: #c62828;
  vertical-align: top;
  color: white;
}
.raise-button {
  display: inline-block;
  color: white;
}
.raise-sizing-container {
  display: inline-block;
}
.raise-slider {
  margin: 0px 5px;
  text-align: center;
}
.raise-slider span {
  top: -5px;
  margin: 5px;
  position: relative;
}
.raise-sizing-container button {
  margin: 5px 0px 5px 5px;
  height: 30px;
  width: 75px;
}
.raise-sizing-container button:last-child {
  margin-right: 5px;
}
.raise-slider button {
  height: 25px;
  width: 25px;
  margin: 0px;
  border-radius: 50%;
}
.raise-slider button:first-child {
  padding-bottom: 10px;
}