
@import url('https://fonts.googleapis.com/css?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu' !important;
  /*background: url('bg1.svg') left top no-repeat, url('bg2.svg') right top no-repeat;*/
  background-size: 514px, 514px, auto;
  background-color: #171717;
  padding-bottom: 140px !important;
}

body::before {
  content: '';
  position: absolute;
  width: 238.44px;
  height: 238.44px;
  /*background: url('chip1.svg') left top no-repeat;*/
  left: 149px;
  top: 159.06px;
}

body::after {
  content: '';
  position: absolute;
  width: 238.44px;
  height: 238.44px;
  /*background: url('chip2.svg') center -23px no-repeat;*/

  right: 149px;
  top: 159.06px;
}

.leaderboard {
  width: 560px;
  margin: 0 auto;
  min-height: 100vh;
}

.user {
  color: #fff;
  background: #569375;
  width: 248px;
  position: absolute;
  right: 40px;
  top: 40px;
  border-radius: 24px;
  padding: 16px 29px;

}

.user__title {
  font-size: 24px;
  line-height: 28.8px;  
  margin-bottom: 10px;
}

.user__text {
  font-size: 18px;
  line-height: 21.6px;  
  margin-bottom: 24px;
}

.timer {
  text-align: center;
  color: #9F9F9F;
  font-size: 16px;
  line-height: 18px;
  padding-top: 5px;
}

.timer b {
  background: #050806;
  border-radius: 7px;
  margin: 10px;
  display: inline-block;
  padding: 7px;
}

.header {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  color: #fff;
  text-align: center;
  padding-top: 96px;
}


.search-form {
  position: relative;
}

.search-form__input {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  width: 100%;
  padding-left: 60px;
  padding-top: 18px;
  padding-bottom: 17px;
  padding-right: 130px;
  background: #0C0C0C;
  border-radius: 49px;
  border: none;
  color: #fff;
  font-size: 20px;
  line-height: 23px;
  /*background: url('search.svg') 20px 17px no-repeat #0C0C0C;*/
}

.search-form__input:focus {
  outline: 1px solid rgba(255, 255, 255, 0.27);;
}

.search-form__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 96%;
  right: 10px;
  top: 7px;
  position: absolute;
  padding: 13px 27px;
  background: #333333;
  color: #060606;
  border-radius: 59px;
  border: none;
  cursor: pointer;
  font-family: 'Golos';
}

.period {
  display: flex;
  justify-content: center;
  margin-top: 11px;
}

.period__item {
  min-width: 111px;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 18px;
  line-height: 18.38px;  
  font-weight: 400;
  padding: 6px;
  color: #4E4E4E;
  margin-bottom: 69px;
}

.period__item--active {
  background: #000;
}

.period__item:first-child {
    border-radius: 8px 0px 0px 8px;
}

.period__item:last-child {
  border-radius: 0px 8px 8px 0px;
}

.leader-table {
  width: 100%;
  border-spacing: 0 6px;
  border-collapse:separate;
}

.leader-table th,
.leader-table td {
  color: rgba(255, 255, 255, 0.22);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 12px;  
}

.leader-table th:nth-child(1) {
  text-align: center;
}

.leader-table tr:nth-child(odd) td {
  background: #1A3527;  
}

.leader-table tr:nth-child(even) td {
  background: #151E19; 
}

.leader-table td:nth-child(2) {
  color: #D0D0D0;
  font-weight: 700;
}

.leader-table td:nth-child(1) {
  color: #D0D0D0;
  font-weight: 700;
  text-align: center;
  border-radius: 8px 0px 0px 8px;
}

.leader-table td:last-child {
  border-radius: 0px 8px 8px 0px;
}

.user-search {
  min-height: 56px;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
}

.user-search__text {
  padding-top: 22px;
  padding-bottom: 13px;
  display: inline-block;
  color: #fff;
}

.laod-more {
  display: flex;
  justify-content: center;
}

.laod-more__button {
  justify-content: center;
  padding: 16px 24px;
  background: #147F4E;
  border-radius: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 96%;
  color: #fff;
  border: none;
  cursor: pointer;
}

