.chip-pile {
  text-align: center;
  position: relative;
}
.chips {
  width: 25px;
  display: inline-block;
}
.chips > div {
  height: 6px;
  width: 20px;
  // border-bottom: 1px solid #333;
  // border-radius: 0 0 50% 50%;
  position: absolute;
  margin: 2px;
}
// .chips > div:last-child {
//   border-radius: 50%;
// }
