.game-chat {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: calc(40% - 10px);
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

  .messages {
    height: 20vh;
    margin: 10px 10px 0px 10px;
    padding-left: 5px;
    padding-top: 5px;
    overflow: auto;
    color: #ccc;
    background: $blue-grey-darken-4;
  }
  .chat-input {
    padding: 7px 32px 7px 10px;

    input {
      width: 100%;
      padding-left: 5px;
      color: #ccc;
      background: $blue-grey-darken-4;
      border: none;
    }
  }
}