$blue-lighten-5: #e3f2fd; 
$blue-lighten-4: #bbdefb; 
$blue-lighten-3: #90caf9; 
$blue-lighten-2: #64b5f6; 
$blue-lighten-1: #42a5f5; 
$blue: #2196f3; 
$blue-darken-1: #1e88e5; 
$blue-darken-2: #1976d2; 
$blue-darken-3: #1565c0;
$blue-darken-4: #0d47a1;

$amber: #ffc107;
$amber-darken-1: #ffb300;
$amber-darken-2: #ffa000;
$amber-darken-3: #ff8f00;
$amber-darken-4: #ff6f00;

$orange: #ff9800;
$orange-accent-1: #ffd180;
$orange-accent-2: #ffab40;
$orange-accent-3: #ff9100;
$orange-accent-4: #ff6d00;

$deep-orange-lighten-2: #ff8a65;
$deep-orange-lighten-1: #ff7043;
$deep-orange: #ff5722;
$deep-orange-darken-1: #f4511e;
$deep-orange-darken-2: #e64a19;

$cyan-lighten-3: #80deea; 
$cyan-lighten-2: #4dd0e1; 
$cyan-lighten-1: #26c6da; 
$cyan: #00bcd4; 

$teal-lighten-3: #80cbc4;
$teal-lighten-2: #4db6ac;
$teal-lighten-1: #26a69a;
$teal: #009688;

$grey-lighten-5: #fafafa;
$grey-lighten-4: #f5f5f5;
$grey-lighten-3: #eeeeee;

$blue-grey-lighten-5: #eceff1;
$blue-grey-lighten-4: #cfd8dc;
$blue-grey-lighten-3: #b0bec5;
$blue-grey-lighten-2: #90a4ae;
$blue-grey-lighten-1: #78909c;
$blue-grey: #607d8b;
$blue-grey-darken-1: #546e7a;
$blue-grey-darken-2: #455a64;
$blue-grey-darken-3: #37474f;
$blue-grey-darken-4: #263238;

// $box-shadow: 0px 1px 2px #222;
$box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

@import './card.scss';
@import './seats.scss';
@import './small_table.scss';
@import './table.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0px;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
button, input {
  font-size: inherit;
  font-family: inherit;
}
th {
  font-weight: normal;
}