.seat1of6 {
  left: 610px;
  top: 75px;
  
  .bet {
    top: 170px;
  }
}
.seat2of6 {
  top: 180px;
  left: 1065px;
 
  .bet {
    top: 160px;
    left: -150px;
  }
}
.seat3of6 {
  top: 555px;
  left: 1065px;
  
  .bet {
    left: -150px;
    bottom: 110px;
  }
}
.seat4of6 {
  top: 660px;
  left: 610px;
  
  .bet {
    bottom: 150px;
  }
}
.seat5of6 {
  top: 555px;
  left: 155px;
  
  .bet {
    right: -150px;
    bottom: 110px;
  }
}
.seat6of6 {
  top: 180px;
  left: 155px;
  
  .bet {
    top: 160px;
    right: -150px;
  }
}
.seat-container {
  color: #fff;
  width: 180px;
  height: 150px;
  position: absolute;
  text-align: center;
  z-index: 5;
  transition: 0.2s all;
}
.bet {
  position: absolute;
  width: 100%;
}
.seat-info {
  position: absolute;
  width: 100%;
  bottom: 5px;
}
.seat-number {
  padding: 4px 0px;
  display: inline-block;
  width: 20%;
}
.seat-player {
  display: inline-block;
  padding: 4px 0px;
  width: 80%;
}
.seat-container.active .seat-info .seat-player {
  color: #ffeb3b;
}
.seat-stack {
  font-size: 2em;
  padding: 5px 0px;
}
.hand {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 140px;

  .card {
    position: absolute;
    transition: 0.2s all;
  }
  .card:first-child {
    top: 0px;
    left: 38px;
  }
  .card:last-child {
    top: 0px;
    right: 38px;
  }
}
.hand:hover {
  .card:first-child {
    top: -60px;
    left: 10px;
  }
  .card:last-child {
    top: -60px;
    right: 10px;
  }
}
.shot-clock {
  position: absolute;
  width: 100%;
  bottom: -5px;

  div {
    float: right;
    height: 5px;
    transition: 0.2s all;
  }
}
.button-chip {
  color: #fff;
  background: #333;
  height: 20px;
  width: 20px;
  padding: 4px;
  border-radius: 100%;
  position: absolute;
  right: -50px;
  top: 80px;
  background: #bbb;
  font-family: 'Roboto';
}