.seat1of6 {
  left: calc(50% - 90px);
  top: 5%;
  
  .bet {
    bottom: -90px;
  }
}
.seat2of6 {
  top: 18%;
  left: calc(89% - 180px);
 
  .bet {
    bottom: -70px;
    left: -150px;
  }
}
.seat3of6 {
  top: calc(60% - 150px);
  left: calc(89% - 180px);
  
  .bet {
    left: -150px;
  }
}
.seat4of6 {
  top: calc(72% - 150px);
  left: calc(50% - 90px);
  
  .bet {
    top: -40px;
  }
}
.seat5of6 {
  top: calc(60% - 150px);
  left: 11%;
  
  .bet {
    right: -150px;
  }
}
.seat6of6 {
  top: 18%;
  left: 11%;
  
  .bet {
    bottom: -70px;
    right: -150px;
  }
}
.seat-container {
  color: #fff;
  width: 180px;
  height: 150px;
  position: absolute;
  text-align: center;
  z-index: 5;
  transition: 0.2s all;
}
.bet {
  position: absolute;
  width: 100%;
}
.seat-info {
  position: absolute;
  width: 100%;
  bottom: 5px;
}
.seat-number {
  padding: 4px 0px;
  display: inline-block;
  width: 20%;
}
.seat-player {
  display: inline-block;
  padding: 4px 0px;
  width: 80%;
}
.seat-container.active .seat-info .seat-player {
  color: #ffeb3b;
}
.seat-stack {
  font-size: 2em;
  padding: 5px 0px;
}
.hand {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 140px;

  .card {
    position: absolute;
    transition: 0.2s all;
  }
  .card:first-child {
    top: 0px;
    left: 38px;
  }
  .card:last-child {
    top: 0px;
    right: 38px;
  }
}
.hand:hover {
  .card:first-child {
    top: -50px;
    left: 10px;
  }
  .card:last-child {
    top: -50px;
    right: 10px;
  }
}
.shot-clock {
  position: absolute;
  width: 100%;
  bottom: -5px;

  div {
    float: right;
    height: 5px;
    transition: 0.2s all;
  }
}
.button-chip {
  color: #fff;
  background: #333;
  height: 22px;
  width: 22px;
  padding: 4px;
  border-radius: 100%;
  position: absolute;
  right: -50px;
  top: 80px;
  background: #bbb;
  font-family: 'Roboto';
}