.poker-game {
  position: relative;
  max-width: 1200px;
  height: 100vh;
  box-sizing: border-box;
  z-index: 0;
  // font-family: 'Oswald', sans-serif;
  overflow: hidden;
  margin: 0px auto;

  .table-bg {
    width: 900px;
    height: 420px;
    position: absolute;
    left: 115px;
    top: 135px;
    box-sizing: border-box;
    z-index: -1;

    @media screen and (min-height: 1050px) {
      top: 205px;
    }

    .bg-outer {
      // background: $teal;
      border: 22px solid #2a2a2a;
      height: 100%;
      position: absolute;

      .bg-inner {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border: 5px solid #aaa;
      }
    }
    .bg-outer:first-child,
    .bg-outer:last-child {
      width: 400px;
      top: 0px;
      border-radius: 50%;
      z-index: -2;

      .bg-inner {
        border-radius: 50%;
      }
    }
    .bg-outer:first-child {
      left: 0px;
    }
    .bg-outer:last-child {
      right: 0px;
    }
    .bg-outer:nth-child(2) {
      width: 450px;
      left: 225px;
      border-left: none;
      border-right: none;
      z-index: -1;

      .bg-inner {
        width: 100%;
        border-left: none;
        border-right: none;
      }
    }
  }
  .board {
    position: relative;
    margin-top: 296px;
    width: 405px;
    left: 363px;
    text-align: center;
    color: white;
    
    @media screen and (min-height: 1050px) {
      margin-top: 371px;
    }

    .main-pot {
      position: absolute;
      width: 100%;
      bottom: 140px;
    }
    .card {
      margin: 8px 3px;
    }
    .chip-pile {
      position: absolute;
      top: -10%;
      left: 35%;
    }
    .card-silhouette {
      display: inline-block;
      border: 1px dashed #ccc;
      width: 75px;
      height: 105px;
      margin: 8px 3px;
      border-radius: 4px;
      vertical-align: top;
      box-sizing: border-box;
    }
  }
}