.card {
  display: inline-block;
  font-weight: bold;
  background: #eee;
  width: 70px;
  height: 105px;
  overflow: hidden;
  margin: 3px;
  vertical-align: top;
  outline: 1px solid #ccc;
  border: 1px solid #fff;
  box-sizing: border-box;

  .card-back {
    margin: 3px;
    height: 97px;
    width: 62px;
    background-color: #295dc3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
  > div {
    display: inline-block;
  }
  .small-picture {
    vertical-align: top;

    div:first-child {
      font-size: 1.2em;
    }
    div:last-child {
      margin-top: -15px;
      font-size: 1.5em;
    }
  }
  .big-picture {
    font-size: 5em;
    padding-left: 5px;
  }
}