.chip-pile {
  text-align: center;
}
.chips {
  width: 35px;
  display: inline-block;
}
.chips > div {
  height: 8px;
  width: 28px;
  border: 1px solid #333;
  border-radius: 0 0 50% 50%;
  position: absolute;
  margin: 0px 3px;
}
.chips > div:last-child {
  border-radius: 50%;
}
