@import url('https://fonts.googleapis.com/css?family=Leckerli+One');

div.fancy-chip {
  width: 45px;
  height: 45px;
  margin: 5px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 22px 1px rgba(255,255,255, 0.2);
  -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 22px 1px rgba(255,255,255, 0.2);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 22px 1px rgba(255,255,255, 0.2);
  border: 5px dotted #fff;
  
  div {
    font-family: 'Leckerli One', cursive !important;
    text-align: center;
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 1.25em;
    color: #fff;
    border: 2px dashed white;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.45);
  }
  span {
    display: block;
    padding-top: 4px;
    padding-right: 3px;
  }
}

div.orange { background: rgb(223, 99, 1) }

div.green { background: rgb(75, 158, 0) }

div.blue { background: rgb(4, 83, 145) }

div.gray { background: rgb(109, 109, 109) }

div.brown{ background: rgb(95, 57, 0) }

div.burgundy { background: rgb(100, 0, 0) }

div.lightblue { background: rgb(36, 103, 245) }

div.pink { background: rgb(241, 23, 233) }

div.purple { background: rgb(80, 9, 128) }

div.black {
  background: rgb(36, 36, 36);
  color: #eee;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
  -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
  border: 10px dotted #ccc;
}

div.red { background: rgb(175, 17, 36) }

div.disabled { opacity: 0.4 }