.game-chat-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 33%;
  height: 182px;
  font-size: 14px;

  .player-name {
    display: inline-block;
    background: white;
    font-size: 14px;
    border: 1px solid #ccc;
    border-right: 0px;
    padding: 3px 0px 3px 3px;
    height: 17px;
    width: calc(15% - 4px);
    font-weight: bold;
  }
  .game-chat-input {
    display: inline-block;
    width: 85%;
  }
  input {
    width: 100%;
    height: 21px;
    border: 1px solid #ccc;
    border-left: none;
  }
  input:focus {
    outline: none;
    box-shadow: 0 -2px 0 #1565c0 inset;
    transition: 0.2s all;
  }
}
.game-chat {
  height: 150px;
  padding: 3px;
  font-size: 14px;
  background: #eee;
  overflow: auto;
  border: 1px solid #ccc;
}