.game-chat-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 33%;
  height: 182px;

  input {
    width: 100%;
    height: 18px;
  }
}
.game-chat {
  height: 150px;
  padding: 3px;
  font-size: 14px;
  background: #eee;
  overflow: auto;
  border: 1px solid #ccc;
}