$blue-darken-3: #1565c0;
$blue-darken-4: #0d47a1;
$box-shadow: 1px 1px 2px #222;

@import './actions.scss';
@import './card.scss';
@import './chips.scss';
@import './fancy_chip.scss';
@import './game_chat.scss';
@import './seats.scss';
@import './small_table.scss';
@import './table.scss';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  margin: 0px;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  background: #222;
}
button {
  font-size: inherit;
  font-family: inherit;
}
th {
  font-weight: normal;
}
#left-column {
  position: absolute;
  width: 280px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #393e4d;
  padding: 5px;
  box-sizing: border-box;
  color: #ddd;
}
#right-column {
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  background: #393e4d;
  padding: 5px;
  box-sizing: border-box;
  color: #ddd;
}
#center-column {
  position: relative;
  height: 100%;
  margin-left: 280px;
  margin-right: 300px;
  box-sizing: border-box;
}
.table-list {
  font-size: 0.8em;
  width: 100%;

  td {
    text-align: center;
  }
  button {
    font-size: inherit;
    background: #5d6271;
    border: none;
    color: #ccc;
    text-transform: uppercase;
  }
  button:hover {
    background: #ccc;
    cursor: pointer;
    color: #333;
    transition: 0.2s all;
  }
}
.player-list {
  list-style-type: none;
  padding-left: 0px;
  font-size: 12px;
}
.chat ul {
  max-height: 500px;
  width: 200px;
  overflow: auto;
  list-style-type: none;
  padding-left: 0px;
}
