@import './actions.scss';
@import './card.scss';
@import './chips.scss';
@import './game_chat.scss';
@import './seats.scss';
@import './table.scss';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
}
th {
  font-weight: normal;
}
button {
  font-family: 'Ubuntu', sans-serif;  
  font-size: 16px;
  margin: 0px 5px;
  padding: 2px 5px;
  background: white;
  border: none;
  border-radius: 1px;
}
button:hover {
  background: #ccc;
  cursor: pointer;
}
#left-column {
  position: absolute;
  width: 280px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #393e4d;
  padding: 5px;
  box-sizing: border-box;
  color: #ddd;
}
#right-column {
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  background: #393e4d;
  padding: 5px;
  box-sizing: border-box;
  color: #ddd;
}
#center-column {
  position: relative;
  height: 100%;
  margin-left: 280px;
  margin-right: 300px;
  box-sizing: border-box;
}
.table-list td {
  text-align: center;
}
.player-list {
  list-style-type: none;
  padding-left: 0px;
  font-size: 12px;
}
.chat ul {
  max-height: 500px;
  width: 200px;
  overflow: auto;
  list-style-type: none;
  padding-left: 0px;
}
