.seat1of6 {
  left: calc(50% - 90px);
  top: 4%;
  
  .bet {
    bottom: -90px;
  }
}
.seat2of6 {
  top: 18%;
  left: calc(94% - 180px);
 
  .bet {
    bottom: -70px;
    left: -150px;
  }
}
.seat3of6 {
  top: calc(60% - 150px);
  left: calc(94% - 180px);
  
  .bet {
    left: -150px;
  }
}
.seat4of6 {
  top: calc(73% - 150px);
  left: calc(50% - 90px);
  
  .bet {
    top: -40px;
  }
}
.seat5of6 {
  top: calc(60% - 150px);
  left: 6%;
  
  .bet {
    right: -150px;
  }
}
.seat6of6 {
  top: 18%;
  left: 6%;
  
  .bet {
    bottom: -70px;
    right: -150px;
  }
}
.seat-container {
  width: 180px;
  height: 150px;
  position: absolute;
  text-align: center;
  z-index: 5;
  color: white;
  transition: 0.2s all;
}
.seat-info {
  position: absolute;
  width: 100%;
  bottom: 5px;
  color: white;
  box-sizing: border-box;
  background: $blue-grey-darken-3;
  box-shadow: $box-shadow;
}
.seat-info > div:nth-child(2) {
  font-size: 0.8em;
  padding: 2px 0px;
  background: $blue-grey-darken-4;
}
.seat-number {
  position: absolute;
  padding: 2px 6px;
  background: $blue-darken-3;
  bottom: 0px;
}
.bet {
  position: absolute;
  width: 100%;

  span {
    font-size: 0.8em;
  }
}
.seat-container.active .seat-info .seat-player {
  color: #ffeb3b;
}
.seat-stack {
  font-size: 1.5em;
  padding: 5px 0px;
}
.hand {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 135px;

  .card {
    position: absolute;
    transition: 0.2s all;
  }
  .card:first-child {
    top: 0px;
    left: 38px;
  }
  .card:last-child {
    top: 0px;
    right: 38px;
  }
}
.hand:hover {
  .card:first-child {
    top: -50px;
    left: 10px;
  }
  .card:last-child {
    top: -50px;
    right: 10px;
  }
}
.seat-last-action {
  position: absolute;
  bottom: -11px;
  text-align: center;
  width: 100%;
  background: $deep-orange-lighten-1;
  font-size: 0.7em;
  color: #eee;
  box-sizing: border-box;
  letter-spacing: 1px;
  box-shadow: $box-shadow;
}
.shot-clock {
  position: absolute;
  width: 100%;
  bottom: 0px;
  box-shadow: $box-shadow;

  div {
    float: right;
    height: 5px;
    transition: 0.2s all;
  }
}
.button-chip {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;
  right: -30px;
  top: 80px;
  background: #ddd;
  color: #333;
  font-family: Verdana;
  font-weight: bold;
  box-shadow: $box-shadow;
}