.seat1of6 {
  left: calc(50% - 90px);
  top: 4%;
}
.seat1of6 .bet {
  bottom: -105px;
}
.seat2of6 {
  right: 6%;
  top: 18%;
}
.seat2of6 .bet {
  bottom: -70px;
  left: -150px;
}
.seat3of6 {
  right: 6%;
  bottom: 35%;
}
.seat3of6 .bet {
  left: -150px;
}
.seat4of6 {
  left: calc(50% - 90px);
  bottom: 23%;
}
.seat4of6 .bet {
  top: -40px;
}
.seat5of6 {
  left: 6%;
  bottom: 35%;
}
.seat5of6 .bet {
  right: -150px;
}
.seat6of6 {
  left: 6%;
  top: 18%;
}
.seat6of6 .bet {
  bottom: -70px;
  right: -150px;
}
.seat-container {
  width: 180px;
  height: 150px;
  position: absolute;
  text-align: center;
  z-index: 5;
  color: white;
}
.seat-info {
  position: absolute;
  width: 100%;
  bottom: 5px;
  color: white;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #1e5799;
}
.seat-info > div:nth-child(2) {
  border-top: 1px solid #ccc;
  font-size: .75em;
  padding: 2px 0px;
}
.seat-number {
  padding: 2px 6px;
  position: absolute;
  background: #333;
  bottom: 0px;
}
.bet {
  position: absolute;
  width: 100%;

  span {
    font-size: 0.8em;
  }
}
.seat-container.active .seat-info > div:nth-child(2) {
  background: #ff3b04;
}
.seat-stack {
  font-size: 1.5em;
  padding: 5px 0px;
}
.hand {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 135px;

  .card:first-child {
    position: absolute;
    left: 40px;
  }
  .card:last-child {
    position: absolute;
    right: 40px;
  }
}
.seat-last-action, .shot-clock {
  z-index: -1;
  position: absolute;
  bottom: -16px;
  text-align: center;
  width: 100%;
  background: #c62828;
  font-size: 12px;
  color: white;
  padding: 5px 0px 3px 0px;
  box-sizing: border-box;
  letter-spacing: 1px;
}
.shot-clock {
  background: #333;
  padding: 3px 2px 2px 0px;

  div {
    float: right;
    width: 4px;
    height: 14px;
    border-left: 1px solid #333;
  }
  span {
    position: absolute;
    left: 3px;
    bottom: 2px;
  }
}
.button-chip {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;
  right: -30px;
  top: 75px;
  padding: 1px;
  background: #ddd;
  color: #555;
  font-family: Verdana;
  font-weight: bold;
}