.poker-game.poker-game-small {
  width: 50%;
  height: 50vh;
  font-size: 12px;

  .game-chat {
    font-size: 1em;

    .messages {
      height: 6.5vh;
      margin: 5px 5px 0px 5px;
    }
    .chat-input {
      padding: 3px 27px 3px 5px;
    }
  }
  .actions-container {
    .actions {
      margin: 5px 2px 3px 2px;
      
      button {
        height: 25px;
      }
      .raise-slider-container {
        padding: 5px 3px;
        font-size: 1em;

        .raise-slider {
          input {
            width: 50%;
          }
          span {
            top: -6px;
          }
          button {
            font-size: 0.75em;
            width: 20px;
            height: 20px;
            margin-top: 3px;
          }
        }
      }
      .raise-size-buttons {
        button {
          height: 20px;
          font-size: 0.9em;
        }
      }
    }
  }
}