.poker-game.small-table {
  width: 50%;
  height: 50vh;

  .actions {
    margin: 0px 0px 2px 0px;

    button {
      height: 45px;
      width: 79px;
      font-size: 14px;
      margin: 2px;
    }
  }
  .raise-sizing-container {
    button {
      height: 20px;
      width: 59px;
      margin: 2px;
    }
  }
  .raise-slider {
    font-size: 14px;
    margin: 0px;

    button {
      height: 15px;
      width: 15px;
      margin: 5px 2px;
    }
    span {
      margin: 0px;
    }
  }
  .pot-sizes {
    margin-left: 0px;
  }
  .card, .board .card-silhouette {
    height: 40px;
    width: 30px;
  }
  .card {
    font-size: 20px;
    font-weight: bold;
    background: #eee;

    div:nth-child(2) {
      font-size: 25px;
      margin-top: -10px;
    }
    .card-back {
      margin: 2px;
      height: 36px;
    }
  }
  .seat-info {
    padding: 0px;
    
    .seat-number {
      padding: 7px 12px;
      margin: 3px;
    }
  }
  .hand {
    bottom: 45px;
  }
  .table-background {
    div {
      border-width: 10px;
    }
  }
  .board {
    top: 30%;
  }
  .game-chat-container {
    width: 62%;
    height: 100px;

    .game-chat {
      height: 68px;
      font-size: 13px;
    }
  }
}