.poker-game {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 5px 0px;
  z-index: 0;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;

  .player-list {
    color: #333;
    padding: 0px 10px;
  }
  .table-info {
    color: #333;
    padding: 0px 10px;

    button {
      float: right;
      border: none;
      background: $blue-grey-darken-3;
      color: #ccc;
      margin: 1px;
    }
    button:hover {
      background: $blue-grey;
      transition: 0.2s all;
    }
  }
  .table-bg {
    width: 80%;
    height: 54%;
    position: absolute;
    left: 10%;
    top: 15%;
    box-sizing: border-box;
    z-index: -1;

    .bg-outer {
      background: $teal;
      border: 22px solid #2a2a2a;
      height: 100%;
      position: absolute;

      .bg-inner {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border: 5px solid #aaa;
      }
    }
    .bg-outer:first-child,
    .bg-outer:last-child {
      width: 60%;
      top: 0px;
      border-radius: 50%;
      z-index: -2;

      .bg-inner {
        border-radius: 50%;
      }
    }
    .bg-outer:first-child {
      left: 0px;
    }
    .bg-outer:last-child {
      right: 0px;
    }
    .bg-outer:nth-child(2) {
      width: 40%;
      left: 30%;
      border-left: none;
      border-right: none;
      z-index: -1;

      .bg-inner {
        width: 100%;
        border-left: none;
        border-right: none;
      }
    }
  }
  .board {
    position: absolute;
    width: 100%;
    top: 33%;
    text-align: center;
    color: white;
    
    .chip-pile {
      left: 35%;
      position: absolute;
    }
    .card {
      margin: 8px 3px;
    }
    .card-silhouette {
      display: inline-block;
      border: 1px dashed #ccc;
      height: 105px;
      width: 75px;
      margin: 8px 3px;
      border-radius: 4px;
      vertical-align: top;
      box-sizing: border-box;
    }
  }
}