.card {
  display: inline-block;
  font-weight: bold;
  // background: #eee;
  width: 75px;
  height: 105px;
  overflow: hidden;
  margin: 3px;
  vertical-align: top;
  box-sizing: border-box;
  // box-shadow: $box-shadow;
  font-family: 'Oswald', sans-serif;  
  border-radius: 4px;

  .card-back {
    width: 69px;
    height: 99px;
    margin: 3px;
    background-color: #295dc3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
  > div {
    display: inline-block;
  }
  .small-picture {
    vertical-align: top;
    padding-left: 5px;
    float: left;

    div:first-child {
      font-size: 1.2em;
    }
    div:last-child {
      margin-top: -15px;
      font-size: 1.5em;
    }
  }
  .big-picture {
    font-size: 5em;
    float: right;
    padding-right: 5px;
  }
}